body {
  height: 100vh;
  display: flex;
  background-color: rgb(118 124 138);
  flex-direction: column;
}
a {
  text-decoration: none;
}
.container {
  max-width: 96%;
  height: 100%;
  padding: 0 2%;
  margin: 0 auto;
}
.header {
  flex: 0 1 7%;
  background-color: #403f4b;
  border-radius: 0 0 0.5rem 0.5rem;
}
.title {
  height: 100%;
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  flex: 1 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
}
.slider-wrapper {
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.slider-wrapper > input {
  display: none;
}
.slider {
  flex: 1 0 100%;
  height: 70%;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.slider-content-wrapper {
  width: 500%;
  height: 100%;
  position: relative;
  transition: all 0.7s;
  display: flex;
}
.slider-item {
  width: 100%;
  height: 100%;
}
.slider-controls {
  height: fit-content;
  flex: 1 0 30%;
  right: 2%;
  bottom: 21%;
  display: flex;
  justify-content: flex-end;
  column-gap: 0.5rem;
}
.slider-wrapper label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 3rem;
  position: relative;
  width: 3rem;
}
.slider-wrapper label span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 0.3rem;
  border: 0.3rem solid rgb(27, 20, 34);
  transition: all 0.1s;
}

#slide1:checked ~ .slider-controls label:nth-of-type(1) span,
#slide2:checked ~ .slider-controls label:nth-of-type(2) span,
#slide3:checked ~ .slider-controls label:nth-of-type(3) span,
#slide4:checked ~ .slider-controls label:nth-of-type(4) span,
#slide5:checked ~ .slider-controls label:nth-of-type(5) span {
  background: rgb(27, 20, 34);
}
#slide1:checked ~ .slider-controls label:nth-of-type(1):hover span,
#slide2:checked ~ .slider-controls label:nth-of-type(2):hover span,
#slide3:checked ~ .slider-controls label:nth-of-type(3):hover span,
#slide4:checked ~ .slider-controls label:nth-of-type(4):hover span,
#slide5:checked ~ .slider-controls label:nth-of-type(5):hover span {
  background: rgb(255, 255, 255);
}
.slider-wrapper label:hover span {
  border-color: rgb(255, 255, 255);
}
.slider-wrapper label:active span {
  transform: scale(0.7);
}
#slide1:checked ~ .slider > .slider-content-wrapper,
#slide1:checked ~ .text-slider-wrapper .text-slider-content {
  left: 0%;
}
#slide2:checked ~ .slider > .slider-content-wrapper,
#slide2:checked ~ .text-slider-wrapper .text-slider-content {
  left: -100%;
}
#slide3:checked ~ .slider > .slider-content-wrapper,
#slide3:checked ~ .text-slider-wrapper .text-slider-content {
  left: -200%;
}
#slide4:checked ~ .slider > .slider-content-wrapper,
#slide4:checked ~ .text-slider-wrapper .text-slider-content {
  left: -300%;
}
#slide5:checked ~ .slider > .slider-content-wrapper,
#slide5:checked ~ .text-slider-wrapper .text-slider-content {
  left: -400%;
}
.image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  background-size: 100% 100%;
}
.slide1 .image {
  background-image: url(memes/mem1.gif);
}
.slide2 .image {
  background-image: url(memes/mem2.gif);
}
.slide3 .image {
  background-image: url(memes/mem3.gif);
}
.slide4 .image {
  background-image: url(memes/mem4.jpg);
}
.slide5 .image {
  background-image: url(memes/mem5.gif);
}
.text-slider {
  display: flex;
}
.text-slider-wrapper {
  flex: 1 0 40%;
  overflow: hidden;
}
.text-slider-content {
  position: relative;
  transition: all 0.3s;
  display: flex;
  width: 500%;
}
.slide-text {
  width: 100%;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.footer {
  flex: 0 1 7%;
  width: 100%;
  background: #403f4b;
  border-radius: 0.5rem 0.5rem 0 0;
}
.footer-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.github-link {
  display: block;
  padding-left: 4rem;
  background-image: url(github.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 3rem;
  color: #cbd5de;
  font-size: 2rem;
  transition: 0.3s;
}
.github-link:hover {
  color: rgb(170, 175, 180);
}
.date {
  font-size: 2.5rem;
  color: #cbd5de;
}
.rss-link {
  display: block;
  position: relative;
  width: 2%;
  height: 4rem;
  background-image: url(rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 5%;
}
